.slider .slides li .caption {
    width: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    padding: 4px 50px;
    margin: 0;
}

#suitesInfos {
    padding-top: 5%;
}

#suitesInfos .material-icons, #nearby .material-icons {
    cursor: default;
    border: #344a71 solid 1px;
    border-radius: 2px;
    color: #344a71;
}

.parallax-container {
    height: 200px;
}

#reviews {
    background: rgba(0, 0, 0, 0.35);
}

#reviews h4, #reviews .container {
    color: white;
}