html, body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #344a71;
    z-index: 999;
}

.brand-logo {
    margin-left: 1%;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#suitesDropdown, .page-footer {
    background-color: #344a71;
}

#suitesDropdown a {
    color: white;
}

.topnav {
    background-color: #253552;
}

.topnav .material-icons {
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 7px;
    vertical-align: middle;
    color: white;
}

.topnav span {
    display: inline-block;
    font-variant-caps: all-small-caps;
    color: white;
}

.socialIcon {
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 7px;
    vertical-align: middle;
}

.sublist {
    margin-left: 5%;
}

#availabilitySection {
    cursor: default;
}

h4 {
    color: #344a71;
    font-variant-caps: all-small-caps;
}

.section h4 {
    color: white;
}

.section input {
    color: white;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btnBG {
    background-color: #344a71;
}

.description {
    text-align: justify;
}

.darkenBG {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      );
}

#weather {
    background-color: #344a71;
}

@media only screen and (min-width: 601px) {
    #navbar img {
        height: 62px;
    }

    #suitesInfos {
        padding-top: 65%; 
    }
}