html, body {
    margin: 0;
    padding: 0;
    font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
    background-color: #344a71;
    z-index: 999;
    height: 80px;
    line-height: 80px;
    transition: top 0.5s; /* Transition effect when sliding down (and up) */
}

.country {
    font-size: 18px;
    vertical-align: middle;
}

.flag {
  height: 30px;
  vertical-align: middle;
  padding-right: 10px;
}

nav .sidenav-trigger {
    height: 80px;
}

nav .sidenav-trigger i {
    margin-top: 13.5px;
}

nav ul li.active {
    background-color: transparent;
}

nav .active span {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.brand-logo {
    margin-left: 4%;
    line-height: 64px;
}

.brand-logo img, .sidenav-trigger {
    vertical-align: middle;
}

.brand-logo img {
    margin-top: 10px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 50%; /* Rounded corners */
}

#suitesDropdown, #languageDropdownDesktop, #languageDropdownMobile, .page-footer {
    background-color: #344a71;
}

#suitesDropdown a, #languageDropdownDesktop a, #languageDropdownMobile a {
    color: white;
}

#suitesDropdown a:hover, #languageDropdownDesktop a:hover, #languageDropdownMobile a:hover{
    color: #344a71;
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
    background-color: #fafafa;
}

.user-view {
    background-color: #344a71;
}

#availabilitySection h4 {
    margin-top: 0;
}

#suitesSection .hide-on-large-only .btn-floating.halfway-fab {
    bottom: 20px;
}

#suitesSection .hide-on-large-only .card .card-image {
    height: 500px;
}

.card.large .card-image {
    overflow: visible;
}

#about-us-button {
    margin-top: 8px;
}

.slider .indicators .indicator-item.active {
    background-color: #344a71;
}

#reviews-slider .slides {
    background-color: transparent;
}

#reviews-slider .slides li {
    height: auto;
    top: 25%;
}

.fullWidth {
    width: 70%;
}

#tour-section .btn-floating.halfway-fab {
    bottom: 10px;
}

#tour-section .card-content {
    padding-top: 0;
}

#tour-section #toursRef {
    margin-right: 0.75rem;
}

.socialIcon {
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 7px;
    vertical-align: middle;
}

.sublist {
    margin-left: 5%;
}

#availabilitySection {
    cursor: default;
}

h4 {
    color: #344a71;
    font-variant-caps: all-small-caps;
}

.section h4 {
    color: white;
}

.section input {
    color: white;
}

.datepicker-calendar input {
    color: #000;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btnBG {
    background-color: #344a71;
}

.description {
    text-align: justify;
}

.middle-indicator{
    height: 0;
    position:absolute;
    top:50%;
}
.middle-indicator-text{
    font-size: 4.2rem;
}

a.middle-indicator-text{
    color:white !important;
}

.darkenBG {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      );
}

#weather {
    background-color: #344a71;
}

#maps-iframe {
    margin-bottom: -5px;
}

/* Remove arrows in number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

/* Mobile only */
@media only screen and (max-width: 992px) {
    .container {
        width: 95%;
    }

    #about-us-description {
        margin-top: 5%;
    }

    .brand-logo {
        margin-left: 0;
        
    }

    #suitesTitle, #nearbyTitle {
        text-align: center;
    }

    #reviews-slider .slides li {
        top: 15%;
    }

    #tour-section .card {
        height: 210px;
    }
    
    #tour-section .card.horizontal .card-image {
        max-width: 50%;
    }

    #social-section img {
        width: 80%;
    }
}

@media only screen and (min-width: 601px) {
    nav .nav-wrapper i {
        height: 64px;
        line-height: 56px !important;
    }

    #suitesInfos {
        padding-top: 65%; 
    }

    #reviews-slider .slides li {
        top: 25%;
    }

    #social-section img {
        width: 40%;
    }
}